{% extends "admin/base.html" %}
{% load admin_static %}

{#{% block extrahead %}#}
{#  {% include 'general/header-common.html' %}#}
{#{% endblock %}#}

{% block title %}Glamorgan Bakery Admin{% endblock %}

{% block branding %}
<h1 id="site-name">Glamorgan Bakery Admin</h1>
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2-bootstrap.css">
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrahead %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.js"></script>
  <script type="text/javascript">
    //Note: I HATE using jQuery like this! But hey, it's only a few things for the django admin page

    var initTagbox = function (elem) {
      elem.select2({
        //Use tag box
        tags: true,

        //Taggit ajax request
        ajax: {
          url: "/taggit_autosuggest/list/",
          dataType: 'json',
          data: function (term, page) {
            return {
              q: term
            };
          },
          results: function (data, page) {
            var results = _.map(data, function (obj) {
              return {id: obj.value, text: obj.name};
            });

            return {
              results: results
            };
          }
        },

        // Take default tags from the input value
        initSelection: function (element, callback) {
          var data = [];

          function splitVal(string, separator) {
            var val, i, l;
            if (string === null || string.length < 1) return [];
            val = string.split(separator);
            for (i = 0, l = val.length; i < l; i = i + 1) val[i] = $.trim(val[i]);
            return val;
          }

          $(splitVal(element.val(), ",")).each(function () {
            data.push({
              id: this,
              text: this
            });
          });

          callback(data);
        },

        //Allow custom tag input
        createSearchChoice: function (term, data) {
          if ($(data).filter(function () {
                return this.text.localeCompare(term) === 0;
              }).length === 0) {
            return {id: term, text: term};
          }
        }
      });
    };

    //Initialize standard tagbox for tags
    $(function () {
        initTagbox($('#id_tags').css({'min-width': '200px'}));
    });
  </script>
{% endblock %}


{# Footer links (left side) #}
{#{% block footer_links %}#}
{#  <a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>#}
{#{% endblock %}#}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    {{ block.super }}#}
{#    <div class="header-content">#}
{#        <!-- First icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-home"></i><br>#}
{#            <i class="icon-cog"></i>#}
{#        </div>#}
{#        <div class="header-column" style="margin-right: 20px">#}
{#            <a href="/" class="grey">Front-end</a><br>#}
{#            <a href="" class="grey">One more link</a>#}
{#        </div>#}
{#        <!-- Second icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-comment"></i>#}
{#        </div>#}
{#        <div class="header-column">#}
{#            <a href="" class="grey">5 new messages</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Footer branding name (center) #}
{#{% block footer_branding %}#}
{#{% endblock %}#}


{# Footer copyright (right side) #}
{#{% block copyright %}#}
{#  Copyright &copy; 2013 Client<br>Developed by <a href="http://yoursite.com" target="_blank">YourName</a> #}
{#{% endblock %}#}
